
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table{
    table-layout: fixed;
    width: 70%;
    margin: 5%;
    border-spacing: 0px;
}

thead th{
    background-color: rgb(214, 208, 208);
    border: 1px solid;
    padding: 10px 3px;
}